
h1, h3{
    display : flex;
    justify-content: center;
    text-align: center;
}

#pertama{
    display : flex;
    justify-content: center;
    text-align: center;
}

.menu{
    display: flex;
    justify-content: space-between;
}

a{
    font-size: 20px;
    font-weight: 550;
    text-decoration:none;
    color: black;
    transition: 0.3s;
}

a:hover{
    color: rgb(104, 104, 104);
}

.menu{
    display: flex;
    justify-content: center;
}